.navlink{
    color:rgb(139, 139, 139);
    text-decoration: none;
    margin-right: 65px;
  }
  .navlinkactive{
    color:red;
    text-decoration: none;
    margin-right: 65px;
  }
  .navlink:hover{
    color: orange;
  }
  .navlinkactive:hover{
    color: rgb(185, 162, 162);;
  }

.twitter {
margin-left: 15px;
margin-right: 15px;

}

footer {
background-color: bisque;
width: 100%;
}

footer div a, footer p {
color: gray;
text-decoration: none;
}


.appointment {

color: brown;
border: 3px solid brown;
width: 200px;
}